html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.deck {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 4rem;
	margin: 10px 10px;
	background: #141214;;
	color: #141214;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #141214;
}

.deck .card.open {
    background: #fff;
	cursor: default;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: green;
	font-size: 33px;
	
}
.deck .card.unmatched {
	
	background: red;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}




